# LLM providers
OPENROUTER_API_KEY=
ANTHROPIC_API_KEY=
OPENAI_API_KEY=
OLLAMA_CLOUD_API_KEY=

# Search APIs
TAVILY_API_KEY=

# LangSmith
LANGSMITH_API_KEY=
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=https://api.smith.langchain.com
LANGSMITH_PROJECT_PREFIX=LearnAgenticAI
